.circleicon{
  .circlebutton {
    width: 70px;
    height: 70px;
    margin: 0px;
    background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
    color: darkslategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 7px var(--shadow-color);

    scale: 1;
    transform: translateY(0px);
    transition: 0.2s;
  
    svg {
      display: block;
      transform: scale(2.5);
    }
  }

  .iconDescription {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;

    .link {
      color: white;
      text-decoration: none;
      transition: 0.2s;
    }
  }

  &:hover {
    .circlebutton {
      scale: 0.8;
      transform: translateY(-10px);
      transition: 0.5s;
    }

    .iconDescription {
      opacity: 1;
      transform: translateY(-10px);
      transition: 0.5s scale(1.5) scale(2.5);
    }
  }
}