@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circleIcon{
  .circleButton {
    animation: fadeInAnimation ease 1s;
    width: calc(50px + 1.7vw);
    max-width: 80px;
    height: calc(50px + 1.7vw);
    max-height: 80px;
    margin: 0px;
    background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
    color: darkslategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 7px var(--shadow-color);

    scale: 1;
    transform: translateY(0px);
    transition: 0.3s;
  
    svg {
      display: block;
      transform: scale(2.5);
    }
  }

  .iconDescription {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;

    .link {
      color: var(--light-blue-home);
      text-decoration: none;
      font-weight: 500;
      transition: 3s;
    }
  }

  &:hover {
    .circleButton {
      scale: 0.8;
      transform: translateY(-10px);
      transition: 0.5s;
    }

    .iconDescription {
      opacity: 1;
      transform: translateY(-10px);
      transition: 0.5s scale(1.5) scale(2.5);
    }
  }
}