.circleIcon{
  .circleButton {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    
    background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 7px var(--shadow-color);

    transform: scale(1) translateY(0px);
    transition: var(--transition-time);
  
    svg {
      display: block;
      color: darkslategray;
      width: 100%;
      height: 100%;
    }

    &:hover {
      transform: scale(0.8) translateY(-0.7rem);
      transition: var(--transition-time);
    }

    &:hover + .iconDescription {
      opacity: 1;
      transform: translateY(-0.7rem);
      transition: var(--transition-time);
    }
  }

  .iconDescription {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-blue-home);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;

    opacity: 0;
    transform: translateY(0.7rem);
    transition: var(--transition-time);
  }

  @media screen and (max-width: 500px) {
    .circleButton {
      width: 4rem;
      height: 4rem;
      padding: 0.75rem;
    }
  }
}