.content {
  h2 {
    margin: 0.4rem 0 0.4rem 0;
  }

  p {
    color: var(--card-text-color);
    font-size: 1rem;
    margin: 0.4rem 0 0.4rem 0;
  }

  hr {
    border: 0.5px solid gray;
  }

  ul {
    padding-left: 1rem;

    li {
      color: var(--card-text-color);
      font-size: 1rem;
      margin-top: 0.2rem;
    }
  }

  .link {
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
    }
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      height: 300px;
      margin: 5px;
      position: relative;    // Needed for fill={true} to work on Image components

      .image {
        object-fit: contain;
      }
    }

    .banquetDisplayContainer {
      aspect-ratio: 4032 / 3024;
    }

    .checkinCommandContainer {
      aspect-ratio: 1742 / 1032;
    }

    .revampAnnouncementContainer {
      aspect-ratio: 1746 / 904;
    }

    @media screen and (max-width: 700px) {
      div {
        width: 100%;
        height: auto;
      }
    }
  }
}