.smallCardsSection {
  width: 100vw;
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.smallCardsSection * {
  margin-top: 5vh;
}

.smallCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.smallCard {
  width: 26vw;
  height: 26vw;
  min-width: 200px;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding: 3vw;
  background: linear-gradient(159.68deg, #D1BFD8 12.14%, #B2CEDF 88.93%);
  box-shadow: 15px 15px 10px #000000;
  border-radius: 25px;
}

.smallCard p {
  color: black;
}