.pagetemplate {
  width: 100%;
  max-width: 100rem;    // Including this in case the screen is really wide
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navContainer {
    height: 5rem;
    margin-bottom: -2rem;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

    .link {
      text-decoration: none;
      font-size: 1.25rem;
      
      color: var(--light-purple);
      transform: scale(1);
      transition: var(--transition-time);

      &:hover {
        color: var(--light-purple-hover);
        transform: scale(1.05);
        transition: var(--transition-time);
      }
    }
  }

  h1 {
    color: var(--title-text-color);
    margin: 2rem 0 2rem 0;
  }
}