:root {
  --background-color: #242527;
  --navbar-color: #4F5255;
  --shadow-color: black;

  --light-purple: #E7E0EA;
  --light-blue: #d7e4ea;
  --light-purple-home: #e2d1e9;
  --light-blue-home: #ccdee7;
  
  --text-color: white;
  --card-title-color: #4b177c;
  --card-text-color: black;
  --card-font-size: 18px;
  --link-color: #0000EE;
  --link-hover: #4c4cfb;
}

* {
  box-sizing: border-box;
  z-index: 1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, fantasy, monospace;
  background: var(--background-color);
  text-align: center;

  h1,
  h2,
  p {
    color: var(--text-color);
    margin: 0;
  }
}