:root {
  --background-color: #242527;
  // --background-color: #d2d2d2;
  --navbar-color: #4F5255;
  --shadow-color: black;

  --light-purple: #e9e6eb;
  --light-purple-hover: white;
  --light-blue: #d7e4ea;
  --light-purple-home: #e2d1e9;
  --light-blue-home: #ccdee7;
  
  --title-text-color: white;
  --card-title-color: #253599;
  --card-text-color: black;
  --link-color: #0000EE;
  --link-hover-color: #5858ff;

  --page-load-time: 1s;
  --transition-time: 0.4s;
}

* {
  box-sizing: border-box;
  z-index: 1;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--background-color);
  text-align: center;

  h1,
  h2,
  p{
    margin: 0;
  }
}