@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h1 {
    animation: fadeInAnimation ease 1s;
    margin-top: 50px;
    font-size: calc(12px + 3vw);
  }

  h2 {
    animation: fadeInAnimation ease 1s;
    margin-top: 20px;
    font-weight: 200;
    font-size: calc(12px + 1vw);
  }
}

.iconContainer {
  margin-top: 50px;
  width: 40vw;
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}