.container {
  width: 100%;
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 1.5rem;
    font-size: 3rem;
    color: var(--light-purple-home);
  }
  
  h2 {
    margin-top: 2rem;
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--title-text-color);
  }

  .iconContainer {
    margin-top: 3rem;
    width: clamp(400px, 50%, 36rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 400px) {
    .iconContainer {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    min-height: calc(100vh - 4rem);

    h1 {
      margin-top: 1rem;
      font-size: 2rem;
    }
    
    h2 {
      margin-top: 1.5rem;
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}