.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navContainer {
    margin-top: 13vh;
    width: 85vw;
    text-align: left;

    .link {
      color: var(--light-purple);
      text-decoration: none;
      font-size: var(--card-font-size);
      scale: 1;
      transition: var(--transition-time);

      &:hover {
        color: var(--text-color);
        scale: 1.25;                // come back to this later, not working
        transition: var(--transition-time);
      }
    }
  }

  .bigCard {
    width: 90vw;
    min-height: 60vh;
    margin-top: 4vh;
    padding: 3vh;
    background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
    border-radius: 30px;

    box-shadow: 7px 7px 7px var(--shadow-color);
    transition: 3s;

    &:hover {
      box-shadow: 13px 13px 13px var(--shadow-color);
      transition: var(--transition-time);
    }
  }
}