.bigCard {
  width: 100%;
  padding: 5vh 5vw 5vh 5vw;
  background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
  border-radius: 30px;
  text-align: left;

  box-shadow: 7px 7px 7px var(--shadow-color);
  transition: var(--transition-time);

  h2 {
    margin: 0.4rem 0 0.4rem 0;
  }

  p {
    color: var(--card-text-color);
    font-size: 1.1rem;
    margin: 0.4rem 0 0.4rem 0;
  }

  hr {
    border: 0.5px solid gray;
  }

  ul {
    padding-left: 1rem;

    li {
      color: var(--card-text-color);
      font-size: 1.1rem;
      margin-top: 0.2rem;
    }
  }

  .link {
    color: var(--link-color);

    &:hover {
      color: var(--link-hover);
    }
  }

  &:hover {
    box-shadow: 13px 13px 13px var(--shadow-color);
    transition: var(--transition-time);
  }
}