.navbar {
  width: 100vw;
  height: 3rem;
  position: fixed;
  z-index: 2;
  background-color: var(--navbar-color);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  div {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .link {
    color: var(--title-text-color);
    font-size: 1rem;
    text-decoration: none;
    scale: 1;
    transition: var(--transition-time);
  }
  
  .link:hover {
    scale: 1.1;
    transition: var(--transition-time);
  }
}