.navbar {
  width: 100vw;
  height: 7vh;
  min-height: 40px;
  position: fixed;
  z-index: 5;
  background-color: var(--navbar-color);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  div {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .link {
    color: var(--text-color);
    text-decoration: none;
    scale: 1;
    transition: 0.3s;
  }
  
  .link:hover {
    font-size: large;
    scale: 1.1;
    transition: 0.3s;
  }
}