.smallCard {
  width: 25vw;
  min-width: 300px;
  max-width: 500px;
  height: 35vw;
  min-height: 375px;
  max-height: 625px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8vh;
  background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
  border-radius: 30px;

  scale: 1;
  box-shadow: 7px 7px 7px var(--shadow-color);
  transition: 0.4s;

  &:hover {
    scale: 1.02;
    box-shadow: 13px 13px 13px var(--shadow-color);
    transition: 0.4s;
  }
}

@media screen and (max-width: 320px) {
  .smallCard {
    width: 95vw;
    height: 135vw;
    margin-bottom: 5vh;
    background: linear-gradient(130deg, var(--light-purple), var(--light-blue));
    border-radius: 30px;
    box-shadow: 7px 7px 7px var(--shadow-color);
  }
}